{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
            <div class="field">
                <label>{{ form.username.label_tag }}</label>
                <div class="ui left icon input">{{ form.username }}<i class="user icon"></i></div>
            </div>
            <div class="field">
                <label>{{ form.password.label_tag }}</label>
                <div class="ui left icon input">{{ form.password }}<i class="lock icon"></i></div>
            </div>
            <div>
                <input class="ui blue submit button" type="submit" value="Login"></input>
                <input type="hidden" name="next" value="{{ next }}"></input>
            </div>
        </div>
    </div>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}