{% extends "base.html" %}
{% block content %}
{% if validlink %}
	<h2>Set your new password</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary mb-3">Submit</button >
	</form>
{% else %}
	<h2>Invalid token</h2>
	<p>Password reset link was invalid because it has already been used or expired. Please request a new password reset.</p>
	<button class="btn btn-link mb-3"><a href="{% url 'reset_password' %}">Reset Your Password</a></button >
{% endif %}
{% endblock %}