{% extends "base.html" %}
{% block content %}  

{% if user.is_authenticated%}
    <div class="row">
        <div class="col-3 pb-3">
            <h1>Change {{ user }}'s Password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-3 pb-3">
            <p>Please login to access this page.</p>
        </div>
        <div class="col-12 pt-3">
            <a class="btn btn-primary" href="{% url 'login'%}?next={{request.path}}">Login</a>
        </div>
    </div>
{% endif %}




{% endblock %}