/**********
Author: Yahia Hegazy
Created: 20190724
Updated: 20191228
Title: Server Web Form
**********/

$fonttype: "Times New Roman", "Georgia", sans-serif;
$bgcolor: #FFFFFF;
$fontcolor: #000000;
$red: #FF0000;
$yellow: #FFFF00;
$green: #00FF00;

body{
  background-color: $bgcolor;
  font-family: $fonttype;
  color: $fontcolor;
}

.red{background-color: $red;}
.yellow{background-color: $yellow;}
.green{background-color: $green;}