/**********
Author: Yahia Hegazy
Date: 2019-07-24
Title: Server Web Form
**********/

$fonttype: "Times New Roman", "Georgia", sans-serif;
$bgcolor: #FFFFFF;
$fontcolor: #000000;
$minioncolor: #FF0000;

body{
  background-color: $bgcolor;
  font-family: $fonttype;
  color: $fontcolor;
}


.no-style{
  background-color: #FFFFFF;
  color: #000000;
}

.inverse-style>input{
  background-color: $bgcolor;
  color: $fontcolor;
}
