<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/semanticUI/semantic.min.css' %}">  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    
</head>
<body>
    <div class="ui secondary  menu">
        {% if user.is_authenticated %}
            <p class="item"> Welcome: {{ user.get_username }}</p>
            <a class="item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
            <p class="item">Welcome: <a class="item" href="{% url 'login'%}?next={{request.path}}">Login</a></p>
        {% endif %}
        <a class="item" a href="/hospitalsite/">Home</a>
       
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>