<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/semanticUI/semantic.min.css' %}">  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    
</head>
<body>
    
    <div class="ui secondary  menu">
        {% if user.is_authenticated %}
            <p class="item"> Welcome: {{ user.get_username }}</p>
            <a class="item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
            <p class="item">Welcome: <a class="item" href="{% url 'login'%}?next={{request.path}}">Login</a></p>
        {% endif %}
        <a class="item" a href="/hospitalsite/">Home</a>
        <a class="item" a href="{% url 'status' %}">Status</a>
        
        {% load flatpages %}
        {% get_flatpages as flatpages %}
        {% for page in flatpages %}
        <a class="item" href="/pages{{ page.url }}">{{ page.title }}<a>
        {% endfor %}

        </div>
    </div>
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>