{% extends "base.html" %}
{% block content %}  
{% load crispy_forms_tags %}
<style type="text/css">
    #div_id_password{display:none;}
</style>
{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h2>Edit {{ user }}'s Profile</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>      
    </div>
</div> 
{% else %}
<div class="row justify-content-center">
    <div class="col-6 mb-4">
        <div class="card-body">
            <h2>Please login to access this page.</h2>
            <a class="btn btn-primary" href="{% url 'login'%}">Login</a>
        </div>
    </div>
</div> 
{% endif %}
{% endblock %}