{% extends "base.html" %}
{% block content %}  


{% if user.is_authenticated%}
    <div class="row">
        <div class="col-4 pb-3">
            <h1>Edit {{ user }}'s Profile</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-4 pb-3">
            <!--This section will show advanced/superuser only permissions/rights/memberships/group-->
            <p>Test: {{ user.first_name }}</p>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class="row">
        <div class="col-4 pb-3">
            <p>Please login to access this page.</p>
        </div>
        <div class="col-12 pt-3">
            <a class="btn btn-primary" href="{% url 'login'%}?next={{request.path}}">Login</a>
        </div>
    </div>
{% endif %}




{% endblock %}