{% extends "base.html" %}

{% block content %}

<h2>Server Status Page</h2>
<p>This is a simple server status page. Click on either Site Name or it's Serial Tag for more details. Pagination is hard coded at 10 items per page.</p>

<h3>Admin Page</h3>
<p>Only displayed when admin is logged in. It has it's merits.</p>
{% if user.is_authenticated and request.user.is_superuser %}
  <p><a href="/admin">Admin Login</a></p>
  <p>username: <b>superuser</b></p>
  <p>password: <b>drowssap</b></p> 
{% endif %}
    
<h3>Site Information</h3>
<div class="column">
{% if siteinformation %}   
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Site Name</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Version #</th>
        <th scope="col">Server Type</th>
        <th scope="col">Disk 1 || Disk 2 || Disk 3</th>
        <th scope="col">CPU || RAM</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for x in siteinformation %}
      <tr>
        <td><a href="{% url 'serial_detail' pk=x.id %}">{{ x.Site_Name }}</a></td>
        <td><a href="{% url 'serial_detail' pk=x.id %}">{{ x.Serial_Number }}</a></td>

        {% if x.Current_Software_Version == '2.9.1b' or x.Current_Software_Version == '2.9b' %}
        <td style="background-color: #00FF00;">
        {% elif x.Current_Software_Version == '2.8b' or x.Current_Software_Version == '2.7a' or  x.Current_Software_Version == '2.7.1' or  x.Current_Software_Version == '2.6a' or x.Current_Software_Version == '2.5.1b' %}
        <td style="background-color: #FFFF00;">
        {% else %}
        <td style="background-color: #FF0000;">
        {% endif %}
        {{ x.Current_Software_Version }}</td>
        <td>{{ x.Type_Of_Server }}</td>
        <td>{{ x.Disk_1 }} || {{ x.Disk_2 }} || {{ x.Disk_3 }}</td>
        <td>{{ x.Current_CPU }} Cores || {{ x.Current_RAM }} GB</td>
        <td class="selectable">
          {% if user.is_authenticated %}
          <a href="{% url 'record_update' pk=x.id %}">Edit</a>
          {% else %}
        </tr>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!--Pagination breaking dictsort-->
  {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    {% endif %}
  {% endblock %}
{% else %}
  <p>No results found.</p>
{% endif %}
</div>
{% if user.is_authenticated %}
  <button class="btn btn-link mb-3"><a href="{% url 'record_create' %}">Create new entry</a></button>
  {% endif %}
  {% endblock %}

