{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Boilerplate</h1>
    <p>This is a basic view of how django works.</p>

    {% if user.is_authenticated %}
    <p><a href="/admin/demo">Admin Login</a></p>
    <p>username: <b>superuser</b></p>
    <p>password: <b>drowssap</b></p> 
    {% else %}
        <p>Gotta log in to see the admin stuff</p>
    {% endif %}
    
    <h3>Site Name</h3>

    {% if test %}
   
    <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for x in test %}
          <tr>
            <td>{{ x.Name }} </td>
            <td class="top aligned">
                Asset Number<br>
                1<br>
                2<br>
            <td class="selectable">
              <a href="#">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No results found.</p>
    {% endif %}

{% endblock %}